In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/smartphone_sanitization.csv')
df.head()

,sample_id,treatment,colonies_pre,colonies_post,morphologies_pre,morphologies_post,year,month,day,site,phone ID,no case,screen protector
0,1,phonesoap,0,0,0,0,2015.0,10.0,7.0,phone,4,NaN,NaN
1,2,phonesoap,12,0,3,0,2015.0,10.0,7.0,junction,4,NaN,NaN
2,3,phonesoap,14,4,5,2,2015.0,10.0,7.0,case,4,NaN,NaN
3,4,ethanol,0,0,0,0,2016.0,4.0,20.0,phone,4,NaN,NaN
4,5,ethanol,0,1,0,1,2016.0,4.0,20.0,junction,4,NaN,NaN

In [6]:
# Schema & data types
df.dtypes

sample_id              int64
treatment             object
colonies_pre           int64
colonies_post          int64
morphologies_pre       int64
morphologies_post      int64
year                 float64
month                float64
day                  float64
site                  object
phone ID               int64
no case              float64
screen protector      object
dtype: object

In [8]:
df.describe()

,sample_id,colonies_pre,colonies_post,morphologies_pre,morphologies_post,year,month,day,phone ID,no case
count,182.000000,182.000000,182.000000,182.000000,182.000000,70.000000,70.000000,70.000000,182.000000,0.0
mean,91.500000,19.252747,4.021978,2.972527,1.170330,2015.400000,8.342857,11.671429,21.758242,NaN
std,52.683014,23.327642,7.713056,1.741376,1.370002,0.493435,3.265479,4.924713,15.301999,NaN
min,1.000000,0.000000,0.000000,0.000000,0.000000,2015.000000,4.000000,7.000000,1.000000,NaN
25%,46.250000,4.000000,0.000000,2.000000,0.000000,2015.000000,5.000000,8.000000,14.000000,NaN
50%,91.500000,11.000000,1.000000,3.000000,1.000000,2015.000000,10.000000,10.000000,18.000000,NaN
75%,136.750000,24.500000,4.000000,4.000000,2.000000,2016.000000,11.000000,12.000000,32.000000,NaN
max,182.000000,100.000000,47.000000,8.000000,5.000000,2016.000000,12.000000,21.000000,54.000000,NaN